<section class="hero">
	<h1>Welcome to CSE Motors!</h1>
	<div class="car-highlight">

		<% if (notice && notice.length> 0) { %>
			<div class="flash-message">
				<%= notice[0] %>
			</div>
			<% } %>

	    <img src="/images/vehicles/delorean.jpg" alt="Silver DeLorean">
	    <div class="car-info">
		    <h2>DMC DeLorean</h2>
		    <ul>
		        <li>3 Cup holders</li>
		        <li>Superman doors</li>
		        <li>Fuzzy dice!</li>
		    </ul>
		    <a class="button" href="#">Own Today</a>
	    </div>
	</div>
</section>
  
<section class="columns">
	<div class="column reviews">
	    <h2>DMC Delorean Reviews</h2>
	    <ul>
		    <li>"So fast it's almost like traveling in time." (4/5)</li>
		    <li>"Coolest ride on the road." (4/5)</li>
		    <li>"I'm feeling Marty McFly!" (5/5)</li>
		    <li>"The most futuristic ride of our day." (4.5/5)</li>
	    </ul>
	</div>
  
	<div class="column upgrades">
		<h2>Delorean Upgrades</h2>
		<div class="grid">
	
			<div class="upgrade">
				<div class="item">
					<img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
				</div>
				<a class="upgrade-link" href="#">Flux Capacitor</a>
			</div>
	
			<div class="upgrade">
				<div class="item">
					<img src="/images/upgrades/flame.jpg" alt="Flame Decals">
				</div>
				<a class="upgrade-link" href="#">Flame Decals</a>
			</div>
	
			<div class="upgrade">
				<div class="item">
					<img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
				</div>
				<a class="upgrade-link" href="#">Bumper Stickers</a>
			</div>
	
			<div class="upgrade">
				<div class="item">
					<img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
				</div>
				<a class="upgrade-link" href="#">Hub Caps</a>
			</div>
	
		</div>
	</div>
	  
</section>
  