<!-- ============================
     Classification View Heading
============================= -->
<% if (title) { %>
	<h1>
		<%= title %>
	</h1>
	<% } else { res.redirect('/') } %>

<!-- ============================
     Flash or Message Area
============================= -->
<% if (notice && notice.length> 0) { %>
	<div class="flash-message">
		<%= notice[0] %>
	</div>
	<% } %>

	<!-- ============================
     Inventory Grid Area
============================= -->
	<%- grid %>