<!-- ============================
     Classification View Heading
============================= -->
<% if (title) { %>
	<h1>
		<%= title %>
	</h1>
	<% } else { res.redirect('/') } %>

<!-- ============================
     Flash or Message Area
============================= -->
<%# messages() %>

	<!-- ============================
     Inventory Grid Area
============================= -->
	<%- grid %>